<div class="container">
  <inactivity-timer></inactivity-timer>
  <div class="row">
    <div class="col-sm-12 ">
      <div class="panel panel-primary">
        <div class="col">
          <div class="card text-center">
            <div class="card-body">
              <button
                class="btn btn-primary  btn-lg btn-block"
                type="button"
                data-toggle="collapse"
                data-target=".multi-collapse"
                aria-expanded="false"
                aria-controls="multiCollapseExample1 multiCollapseExample2 multiCollapseExample3 multiCollapseExample4"
              >
                Filters
              </button>

              <div class="row">
                <div class="col">
                  <div
                    class="collapse multi-collapse"
                    id="multiCollapseExample1"
                  >
                    <div class="card card-body">
                      <select [(ngModel)]="statusSearch" name="statusSearch"
                        ><option value="">--Select Spir status--</option>
                        <option *ngFor="let item of statusEnums">{{
                          item
                        }}</option>
                      </select>

                      filter status
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div
                    class="collapse multi-collapse"
                    id="multiCollapseExample2"
                  >
                    <div class="card card-body">
                      <select [(ngModel)]="typeSearch" name="typeSearch"
                        ><option value="">--Select Spir type--</option>
                        <option *ngFor="let type of typesEnums">{{
                          type
                        }}</option>
                      </select>

                      filter type
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div
                    class="collapse multi-collapse"
                    id="multiCollapseExample3"
                  >
                    <div class="card card-body">
                      <input
                        type="text"
                        class="form-control "
                        placeholder="Filter Name..."
                        name="nameSearch"
                        [(ngModel)]="nameSearch"
                      />
                      filter name
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="collapse multi-collapse" id="multiCollapseExample4">
                  <button
                    class="btn btn-primary"
                    type="button"
                    (click)="resetFilter()"
                  >
                    Reset Filters
                  </button>
                </div>
              </div>

              <div class="panel-heading">
                <h2>Spir List</h2>
                <button
                  class="btn btn-primary"
                  type="button"
                  (click)="getExcel()"
                >
                  <i class="fa fa-file-excel-o"></i>
                  Download Excel
                </button>
              </div>

              <!-- <div class="panel-body">
                <div class="row">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>object</th>
                        <th scope="col">Name</th>
                        <th scope="col">Spir Type</th>
                        <th scope="col">Spir Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        @fade
                        *ngFor="
                          let spir of spirs
                            | filter: nameSearch:statusSearch:typeSearch
                            | sort: 'name'
                        "
                      >
                         <td>{{ spir | json }}</td>
                        <td>{{ spir.name }}</td>
                        <td>{{ spir.spirType }}</td>
                        <td>{{ spir.spirStatus }}</td>
                        <td>
                          <button
                            (click)="updateSpir(spir)"
                            style="margin-left:10px"
                            class="btn btn-info
              "
                            [routerLink]="['/update/${item.id}']"
                          >
                            Edit
                          </button>
                          <button
                            (click)="deleteSpir(spir)"
                            style="margin-left:10px"
                            class="btn btn-danger"
                          >
                            Delete
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>-->
              <div *ngIf="isLoading" style="text-align: center;">
                <app-loading-spinner></app-loading-spinner>
              </div>
              <div class="row ">
                <div
                  cdkDrag
                  class="col-sm-4"
                  @fade
                  *ngFor="
                    let spir of spirs
                      | filter: nameSearch:statusSearch:typeSearch
                      | sort: 'name';
                    let i = index
                  "
                >
                  <div class="card" *ngIf="!isLoading">
                    <div class="card-body">
                      <h5 class="card-title">
                        Spir {{ spir.springProjectId }}
                      </h5>
                      <p class="card-text">
                        Name: {{ spir.name | uppercase | shorten: 9 }}
                      </p>

                      <div class="inline" *ngIf="spir.spirStatus == 'active'">
                        <p class="oval-green-status"></p>
                        <p class="card-text">Status: {{ spir.spirStatus }}</p>
                      </div>

                      <div class="inline" *ngIf="spir.spirStatus == 'pending'">
                        <p class="oval-orange-status"></p>
                        <p class="card-text">Status: {{ spir.spirStatus }}</p>
                      </div>

                      <div class="inline" *ngIf="spir.spirStatus == 'blocked'">
                        <p class="oval-red-status"></p>
                        <p class="card-text">Status: {{ spir.spirStatus }}</p>
                      </div>

                      <p class="card-text">Type: {{ spir.spirType }}</p>

                      <div class="text-center">
                        <!-- Button trigger modal -->
                        <button
                          type="button"
                          class="btn btn-outline-info btn-xs"
                          data-toggle="modal"
                          data-target="#exampleModal"
                          [attr.data-target]="'#openModal_' + i"
                        >
                          Other details
                        </button>

                        <!-- Modal -->
                        <div
                          class="modal fade"
                          id="openModal_{{ i }}"
                          tabindex="-1"
                          role="dialog"
                          aria-labelledby="exampleModalLabel"
                          aria-hidden="true"
                        >
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                  Spir ID/ name: {{ spir.springProjectId }} /"{{
                                    spir.name
                                  }}"
                                </h5>
                                <button
                                  type="button"
                                  class="close"
                                  data-dismiss="modal"
                                  aria-label="Close"
                                >
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>
                                  Organization ID :
                                  {{ spir.spirOrganizationId }}
                                </p>
                                <br />
                                <p>Phase : {{ spir.spirPhase }}</p>
                                <br />
                                <p>Step indicator: {{ spir.stepIndicator }}</p>
                              </div>
                              <div class="modal-footer">
                                <button
                                  type="button"
                                  class="btn btn-secondary"
                                  data-dismiss="modal"
                                >
                                  Close
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        class="btn btn-link"
                        type="button"
                        data-toggle="collapse"
                        data-target=".multi-collapse1"
                        aria-expanded="false"
                        aria-controls="multiCollapseExample5 "
                        [attr.data-target]="'#openPanel_' + i"
                      >
                        Actions
                      </button>
                      <div
                        class="collapse multi-collapse1"
                        id="openPanel_{{ i }}"
                      >
                        <button
                          (click)="updateSpir(spir)"
                          style="margin-left:10px"
                          class="btn btn-info
        "
                          [routerLink]="['/update/${item.id}']"
                        >
                          Edit
                        </button>

                        <button
                          (click)="getSingleExcel(spir)"
                          style="margin-left:10px"
                          class="btn btn-info btn-xs

      "
                        >
                          <i class="fa fa-file-excel-o"></i>
                          report
                        </button>
                        <button
                          (click)="clone(spir)"
                          style="margin-left:10px"
                          class="btn btn-primary"
                          [disabled]="spir.spirStatus == 'blocked'"
                          [hidden]="spir.spirStatus == 'blocked'"
                        >
                          Clone
                        </button>
                        <button
                          (click)="deleteSpir(spir)"
                          style="margin-left:10px"
                          class="btn btn-danger"
                        >
                          Delete
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card body">
                <div class="card text-center">
                  <button
                    class="btn btn-primary  btn-lg btn-block"
                    type="button"
                    data-toggle="collapse"
                    data-target=".multi-collapse"
                    aria-expanded="false"
                    aria-controls="multiCollapseExample10 "
                  >
                    Backend filter
                  </button>
                </div>

                <div
                  class="collapse multi-collapse"
                  id="multiCollapseExample10"
                >
                  <div class="card-header">
                    <h2 class="card-title">Find By Status</h2>

                    <form (ngSubmit)="onSubmit1()">
                      <div class="form-group">
                        <label
                          >Status
                          <select
                            class="browser-default custom-select class"
                            selectpicker
                            show-tick
                            [(ngModel)]="spirStatus1"
                            name="spirStatus"
                          >
                            <option *ngFor="let obj of spir_status1">{{
                              obj
                            }}</option>
                          </select></label
                        >
                      </div>

                      <button type="submit" class="btn btn-primary  ">
                        Search
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="card text-center">
                <button
                  type="submit"
                  class="btn btn-primary"
                  (click)="createSpir()"
                >
                  Create Spir
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
