.oval-green-status {
  height: 16px;
  width: 16px;
  background-color: #02bc94;
  border-radius: 17.5px;
  margin-top: 4px;
}

.oval-orange-status {
  height: 16px;
  width: 16px;
  background-color: #db821f;
  border-radius: 17.5px;
  margin-top: 4px;
}

.oval-red-status {
  height: 16px;
  width: 16px;
  background-color: #cc2929;
  border-radius: 17.5px;
  margin-top: 4px;
}

.inline {
  display: inline-flex;
  margin: 14px 0 0;
  margin-top: 14px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.card-text {
  margin-left: 1em;
}

.btn-group-xs > .btn,
.btn-xs {
  padding: 0.25rem 0.4rem;
  font-size: 0.875rem;
  line-height: 0.5;
  border-radius: 0.2rem;
}
