<app-header></app-header>

<h5>App status: {{ appStatus | async }}</h5>
<!--if put selector here all the component page will have that component in this case just router outlet-->
<router-outlet></router-outlet>
