<div class="card text-center">
  <div class="card body">
    <div class="card-header">
      Backend filter
    </div>
    <h2 class="card-title">Find By Status</h2>
    <div>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label
            >Status
            <select
              class="browser-default custom-select class"
              selectpicker
              show-tick
              [(ngModel)]="spirStatus"
              name="spirStatus"
            >
              <option *ngFor="let obj of spir_status">{{ obj }}</option>
            </select></label
          >
        </div>

        <button type="submit" class="btn btn-primary  ">Search</button>
      </form>
    </div>
    <div class="row">
      <div class="col-sm-4" *ngFor="let spir of spirs">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Spir {{ spir.springProjectId }}</h5>
            <p class="card-text">Name: {{ spir.name }}</p>
            <p class="card-text">Status: {{ spir.spirStatus }}</p>
            <p class="card-text">Type: {{ spir.spirType }}</p>
            <button
              (click)="updateSpir(spir)"
              style="margin-left:10px"
              class="btn btn-info
"
              [routerLink]="['/update/${item.id}']"
            >
              Edit
            </button>
            <button
              (click)="deleteSpir(spir)"
              style="margin-left:10px"
              class="btn btn-danger"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
