<div class="card text-center">
  <div class="card-header">
    Create Spir
  </div>
  <div class="card-body">
    <h3 class="card-title">
      Create Spir
    </h3>
    <div [hidden]="submitted">
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
        <div class="form-group">
          <label class="center-block"
            >Name:
            <input
              [(ngModel)]="spir.name"
              class="form-control"
              formControlName="name"
            />
          </label>
        </div>
        <div
          *ngIf="
            registerForm.controls['name'].invalid &&
            (registerForm.controls['name'].dirty ||
              registerForm.controls['name'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.controls['name'].errors">
            Name is required/invalid.
          </div>
        </div>

        <div class="form-group">
          <label class="center-block"
            >Type:
            <div>
              <input
                type="radio"
                id="spirType"
                required
                [(ngModel)]="spir.spirType"
                formControlName="spirType"
                value="CSA"
                [checked]="true"
              />CSA
            </div>

            <div>
              <input
                type="radio"
                id="spirType"
                required
                [(ngModel)]="spir.spirType"
                formControlName="spirType"
                value="Transactional"
              />Transactional
            </div></label
          >
        </div>

        <div class="form-group">
          <label class="center-block"
            >Status:

            <select
              class="browser-default custom-select"
              selectpicker
              show-tick
              [(ngModel)]="spir.spirStatus"
              formControlName="spirStatus"
            >
              <option value="">--Select Status--</option>
              <option *ngFor="let obj of spir_status">{{ obj }}</option>
            </select>
          </label>
        </div>
        <div
          *ngIf="
            registerForm.controls['spirStatus'].invalid &&
            (registerForm.controls['spirStatus'].dirty ||
              registerForm.controls['spirStatus'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.controls['spirStatus'].errors">
            Status is required.
          </div>
        </div>

        <button
          type="submit"
          [disabled]="!registerForm.valid"
          class="btn btn-primary  btn-lg btn-block"
        >
          Submit
        </button>
      </form>
      <input
        style="display:none"
        type="file"
        (change)="onFileSelected($event)"
        #fileInput
      />
      <button class="btn btn-primary" type="button" (click)="fileInput.click()">
        Pick file
      </button>
      <button class="btn btn-primary" type="button" (click)="onUpload()">
        Upload
      </button>
      <p>Form value: {{ registerForm.value | json }}</p>
      <p>Form status: {{ registerForm.status | json }}</p>
    </div>
  </div>
</div>
