<!--id is the variable in the component-->

<div class="card text-center">
  <div class="card body">
    <div class="card-header">
      Update Spir
    </div>
    <div class="card-body">
      <div>
        <h3 class="card-title">Update spir with id: {{ id }}</h3>
        <form [formGroup]="registerForm" novalidate>
          <div class="form-group">
            <label class="center-block"
              >Name:
              <input
                [(ngModel)]="spir.name"
                class="form-control"
                formControlName="name"
              />
            </label>
          </div>
          <div
            *ngIf="
              registerForm.controls['name'].invalid &&
              (registerForm.controls['name'].dirty ||
                registerForm.controls['name'].touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="registerForm.controls['name'].errors">
              Name is required.
            </div>
          </div>

          <div class="form-group">
            <label class="center-block"
              >Type:
              <div>
                <input
                  type="radio"
                  required
                  [(ngModel)]="spir.spirType"
                  formControlName="spirType"
                  value="CSA"
                />CSA
              </div>

              <div>
                <input
                  type="radio"
                  required
                  [(ngModel)]="spir.spirType"
                  formControlName="spirType"
                  value="Transactional"
                />Transactional
              </div></label
            >
          </div>

          <div class="form-group">
            <label class="center-block"
              >Status:
              <select
                class="browser-default custom-select"
                selectpicker
                show-tick
                [(ngModel)]="spir.spirStatus"
                formControlName="spirStatus"
              >
                <option *ngFor="let obj of spir_status">{{ obj }}</option>
              </select></label
            >
          </div>
          <div
            *ngIf="
              registerForm.controls['spirStatus'].invalid &&
              (registerForm.controls['spirStatus'].dirty ||
                registerForm.controls['spirStatus'].touched)
            "
            class="alert alert-danger"
          >
            <div *ngIf="registerForm.controls['spirStatus'].errors">
              Status is required.
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!registerForm.valid"
            (click)="onSubmit()"
          >
            Update
          </button>

          <button
            type="submit"
            class="btn btn-primary ml-1"
            [routerLink]="['/spirs']"
          >
            Go back
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
