<form id="accesspanel" action="login " method="POST">
  <div>
    <p>
      <input
        type="text"
        name="username"
        [(ngModel)]="username"
        placeholder="username"
      /><br />
    </p>
    <p>
      <input
        type="password"
        name="password"
        [(ngModel)]="password"
        placeholder="password'"
      />
    </p>
  </div>
  <p>
    <input
      type="submit"
      value="Login"
      (click)="checkLogin()"
      class="btn btn-success"
    />
  </p>
</form>
