<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a
        *ngIf="loginService.isUserLoggedIn()"
        routerLink="spirs"
        class="nav-link"
        >Spir List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="add" class="nav-link" routerLinkActive="active"
        >Add Spir</a
      >
    </li>

    <li class="nav-item">
      <a routerLink="find" class="nav-link" routerLinkActive="active"
        >find by status</a
      >
    </li>

    <li>
      <a
        *ngIf="!loginService.isUserLoggedIn()"
        routerLink="/login"
        class="nav-link"
        >Login</a
      >
    </li>

    <li>
      <a
        *ngIf="loginService.isUserLoggedIn()"
        routerLink="/logout"
        class="nav-link"
        >LogOut</a
      >
    </li>
  </ul>
</nav>
<div class="row">
  <div class="container">
    <div class="card text-center">
      <div class="card-body">
        <br />
        <h2 class="card-title">{{ title }}</h2>
        <hr />
        <router-outlet></router-outlet>
        <!--if put selector here all the component page will have that component in this case just router outlet-->
      </div>
    </div>
  </div>
</div>
